<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="firstPrototypeBean" class="com.example.xmlbasedcfg.model.PrototypeBean">
    </bean>

    <bean id="firstBean" class="com.example.xmlbasedcfg.model.FirstBean">
        <constructor-arg index="0" ref="firstPrototypeBean"/>
        <property name="name" value="spbartem"/>
    </bean>

    <bean id="secondPrototypeBean" class="com.example.xmlbasedcfg.model.PrototypeBean">
    </bean>

    <bean id="secondBean" class="com.example.xmlbasedcfg.model.SecondBean">
        <constructor-arg index="0" ref="secondPrototypeBean"/>
    </bean>
</beans>